{% extends 'AppWeb/padre.html'%}

{% load static %}



{% block pregunta %}

<p style="color: black;">Mi nombre es Gonzalo Conti, soy de Buenos Aires, Argentina. Tengo 26 años y esta es la primera página web que he construído.
    Si queres ponerte en contacto conmigo mi mail es: gonzaloconti@hotmail.com.
</p>

{% endblock %}



{% block copy %}
    
    <div class="container px-5"><p class="m-0 text-center text-black">Copyright &copy; Gonzalo Conti 2024 <a href="#!"> Acerca de mi </a></p></div>
    
{% endblock %}



