{% extends 'AppWeb/padre.html'%}

{% block titulo %}
<p style="color: black;">Eliminando el área.</p>
{% endblock %}

{% block parrafo %}
<div style="display: flex; justify-content: center">
</div>
<br>
<div style="display: flex; justify-content: center">
    
    <ol>
        
        <form action="" method="POST"> {% csrf_token %}

            <p>¿Estás seguro que quieres eliminar esta área?</p>
            <input type="submit" value="Eliminar">
    
        </form>
    </ol>
</div>

{% endblock %}